body {
    padding: 2em;
    max-width: 60em;
    margin: auto;
}

h2 {
    color: teal;
    border-bottom: 1px solid teal;
}

form {
    width: fit-content;
}

form  label {
    display: block;
    text-align: right;
}
        
table {
    border-collapse: collapse;
    border: 2px solid black;
}

th, td {
    border: 1px solid black;
}
